<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Events</title>
</head>
<body>
    <form action="/submit" method="post">
        <div>
            <input placeholder="Name" type="text"><br>
            <input placeholder="email@gmail.com" type="email"><br>
            <input placeholder="Event Selected" type=""><br>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>